<!-- =====================================
    	==== Start Footer -->
    	<footer class="text-center">
            <div class="container">

                <!-- Logo -->
                <a class="logo" href="#">
                   <img src="/images/logo_newtech.png" alt="NEWTECH MULTIMEDIA">         
                </a>
                
                <div class="social">
                    <a href="https://www.facebook.com/newtechsolutionsmultimedia/" target="_blank">
                        <i class="icofont icofont-social-facebook"></i>
                    </a>
                    <a href="https://twitter.com/newtechAR" target="_blank">
                        <i class="icofont icofont-social-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/newtechsm/" target="_blank">
                        <i class="icofont icofont-social-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/newtechsolutionsmultimedia/" target="_blank">
                        <i class="icofont icofont-brand-linkedin"></i>
                    </a>
                </div>

                <p>&copy; 2018 NewTech. Toos los derechos reservados.</p>

            </div>
        </footer>
    	<!-- End Footer ====
    	======================================= -->


  <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>

         <!-- jQuery -->
		<script src="/javascripts/jquery-3.0.0.min.js"></script>
		<script src="/javascripts/jquery-migrate-3.0.0.min.js"></script>

		<!-- popper.min -->
		<script src="/javascripts/popper.min.js"></script>

	  	<!-- bootstrap -->
		<script src="/javascripts/bootstrap.min.js"></script>

		<!-- scrollIt -->
		<script src="/javascripts/scrollIt.min.js"></script>

		<!-- animated.headline -->
		<script src="/javascripts/animated.headline.js"></script>

		<!-- jquery.waypoints.min -->
		<script src="/javascripts/jquery.waypoints.min.js"></script>

		<!-- jquery.counterup.min -->
		<script src="/javascripts/jquery.counterup.min.js"></script>

		<!-- owl carousel -->
		<script src="/javascripts/owl.carousel.min.js"></script>

		<!-- jquery.magnific-popup js -->
		<script src="/javascripts/jquery.magnific-popup.min.js"></script>

		<!-- stellar js -->
		<script src="/javascripts/jquery.stellar.min.js"></script>

      	<!-- isotope.pkgd.min js -->
      	<script src="/javascripts/isotope.pkgd.min.js"></script>

        <!-- YouTubePopUp.jquery -->
        <script src="/javascripts/YouTubePopUp.jquery.js"></script>

        <!-- Map -->
        <script src="/javascripts/map.js"></script>

      	<!-- validator js -->
      	<script src="/javascripts/validator.js"></script>

      	<!-- custom scripts -->
        <script src="/javascripts/scripts.js"></script>

        <!-- google map api -->
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwrHSB-t7Ea1Uy4WnUyu3MhH_ypMVW9d4&callback=initMap">
        </script>

		
    </body>
</html>