<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/favicon.ico" />

    <title>NEWTECH MULTIMEDIA :: Videoconferencia . Integración de sistemas de audio, video y datos . Soluciones interactivas . Infraestructura y redes . Soluciones de voz</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/stylesheets/plugins/bootstrap.min.css" /> 

  
    
  </head>

  <body class="bg-light">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Nueva Novedad</h5>
      <a href="/logout" class="btn btn-light btn-sm">
                Salir
      </a>
    </div>

  
    <div class="container">
    

      <div class="row">
        
        <div class="col-md-12 order-md-1">
          <h4 class="mb-3">Alta de Novedad</h4>
          <form action="/savepost" method="post" class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" name="titulo" id="titulo" placeholder="" value="" required>
                <div class="invalid-feedback">
                  El título es obligatorio.
                </div>
              </div>
            </div>

          

            <div class="mb-3">
              <label for="desc">Descripción</label>
              <textarea class="form-control" name="desc" id="exampleFormControlTextarea1" rows="5" required></textarea>
              <div class="invalid-feedback">
               La Descripción es obligatoria.
              </div>
            </div>

            <div class="mb-3">
              <label for="exampleFormControlFile1">Imagen 1</label>
              <input type="file" name="img1" class="form-control-file" id="exampleFormControlFile1">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlFile1">Imagen 2</label>
              <input type="file" name="img2" class="form-control-file" id="exampleFormControlFile1">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlFile1">Imagen 3</label>
              <input type="file" name="img3" class="form-control-file" id="exampleFormControlFile1">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>


           

            <div class="mb-3">
              <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button>
            </div>
          </form>
        </div>
      </div>

    
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
   
  </body>
</html>
