<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
		<link rel="shortcut icon" href="/images/favicon.ico" />

    <title>NEWTECH MULTIMEDIA :: Videoconferencia . Integración de sistemas de audio, video y datos . Soluciones interactivas . Infraestructura y redes . Soluciones de voz</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/stylesheets/plugins/bootstrap.min.css" />

    <!-- Custom styles for this template -->
    <link href="/stylesheets/plugins/floating-labels.css" rel="stylesheet">
  </head>

  <body>
    <form class="form-signin" action="/login" method="POST">
      <div class="text-center mb-4">
        <img class="mb-4" src="/images/logo_newtech.png" alt="NEWTECH MULTIMEDIA">
            
          <% if (typeof message != 'undefined' && message.length > 0) { %>
                      <% for (var i in message) { %>
                          <div class="alert alert-info">
                              <%= message[i] %>
                          </div>
                      <% } %>
          <% } %>
      </div>
      </div>

      <div class="form-label-group">
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputEmail">Email address</label>
      </div>

      <div class="form-label-group">
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-center">Need an account? <a href="/signup">Signup</a></p>
        <p class="mt-5 mb-3 text-center">Or go <a href="/">home</a>.</p>
      </form>
 
      
  </body>
</html>